p {
  background-color: rgb(54, 105, 105);
  margin: 0px;
  color: lightcyan;
  font-weight: bolder;
  border: 1px lightcyan solid;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  height: 100px;
  width: 30%;
  font-size: 50px;
  float: left;
  text-align: center;
}
.board {
  margin-left: 20%;
  margin-right: 20%;
}
body {
  background-color: rgb(36, 63, 63);
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: lightcyan;
  background-color: rgb(36, 63, 63);
  margin-bottom: 10px;
}
h2 {
  color: lightcyan;
  text-align: center;
}
button {
  border: 1px rgb(54, 105, 105) solid;
  background-color: lightcyan;
  color: rgb(36, 63, 63);
  font-size: 30px;
  margin: 20px;
  width: 30%;
  padding: 20px;
  margin-left: 35%;
}